/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

main a.con-button {
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  gap: 4px;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.invisible {
  visibility: hidden;
}
