/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
 }

 main a.con-button.no-event.done {
  display: flex;
  align-items: center;
  gap: 4px;
 }

 main a.con-button.no-event.done::before {
  border-radius: 24px;
  padding: 0 7px;
  display: inline-block;
  content: '✔';
  font-size: 8px;
  color: var(--color-accent);
  background: var(--color-white);
}
