/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

:root {
  --stroke-color-divider: #6E6E6E;
  --color-red: #EB1000;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

a.con-button.black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

/* CaaS cards override */
main .consonant-u-themeDark .consonant-BtnInfobit,
main .consonant-u-themeDark .consonant-CardsGrid .consonant-Card.one-half {
  background-color: var(--color-black);
}

main .consonant-u-themeDark .consonant-Card:focus {
  border: 1px solid var(--color-black);
}

main .consonant-u-themeDark .consonant-BtnInfobit:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

main .consonant-u-themeDark .consonant-CardsGrid .consonant-Card.one-half .consonant-Card-text,
main .consonant-u-themeDark .consonant-DateIntervalInfobit, .consonant-u-themeDark .consonant-IconWithTextInfobit-text,
main .consonant-u-themeDark .consonant-BtnInfobit:not(.consonant-u-themeDark .consonant-BtnInfobit--cta) span {
  color: var(--color-white);
}

main .consonant-u-themeDark .consonant-BtnInfobit:hover:not(.consonant-u-themeDark .consonant-BtnInfobit--cta) span {
  color: var(--color-black);
}
